    /* ================================================ */
    /* ================ CONFIG GLOBAL ================= */
    /* ================================================ */

:root {
    --collor0: #FFFFFF;
    --collor1: #000000;
    --collor2: #D9043D;
    --collor3: #010626;
    --collor4: #021859;
    --collor5: #484659; 
    --collor6: #fff4f4d1;
    --collor7: #010737;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--collor3);
}

    /* ================================================ */
    /* ==================== HEADER ==================== */
    /* ================================================ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--collor3);
    padding: 20px;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}
header .logo a{
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    color: var(--collor2);
}
header .logo a:hover{
    opacity: 0.8;
    text-shadow: 2px 2px 4px var(--collor5);
}
.header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu-complete {
    display: flex;
    border-radius: 10px;
    opacity: 0.8;
    gap: 20px;
}
header .menu-complete a {
    color: var(--collor2);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
header .menu-complete a:hover {
    opacity: 0.8;
    text-shadow: 2px 2px 4px var(--collor5);
}

    /* ================================================ */
    /* ================= MENU MOBILE ================== */
    /* ================================================ */

header .menu-compact {
    display: none;
    position: fixed;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu-line {
    display: none;
    height: 3px;
    background-color: var(--collor2);
}


    /* ================================================ */
    /* ===================== HOME ===================== */
    /* ================================================ */

.container-one {
    display: flex;
    height: 100vh;
    
}
.container-one .left-side-home {
    flex: 1;
    max-width: 50vw;
    background-color: var(--collor3);
    display: flex;
    align-items: center;
    /* padding-right: 60px; */
    justify-content: end;
    
}

.container-one .left-side-home .logo-stack-container {
    margin: auto;
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.container-one .left-side-home .logo-stack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: inherit;
    height: inherit;
}

svg {
    width: 45px;
    height: 45px;
    fill: var(--collor7);
    transform: rotate(335deg);
    margin: 10px;
}
svg:hover {
    filter: drop-shadow(1px 1px 10px var(--collor6));
    cursor: pointer;
    
}

.container-one .info {
    padding-right: 60px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    z-index: 1;
}
.container-one .info .profession {
    color: var(--collor2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}
.container-one .info .name {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.container-one .info .name h1{
    color: var(--collor0);
    text-align: right;
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
}
.container-one .info .name h1:last-child{
    margin: -10px 0 20px 0;
}
.container-one .info .buttons a {
    display: inline-block;
    background-color: var(--collor2);
    color: var(--collor1);
    padding: 20px 30px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px var(--collor3);
    border-radius: 5px;
    margin-right: 10px;
    pointer-events: auto;
}

.container-one .info .buttons a.light {
    color: var(--collor4);
    background-color: var(--collor0);
}

.container-one .info .buttons a:hover {
    opacity: 0.8;
}

.container-one .right-side-home {
    flex: 1;
    z-index: 1;
    max-width: 50%;
    background-image: url('../images/initial_right_side.png');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 32px;
}

/* ================================================ */
/* ====================== EMR ===================== */
/* ================================================ */

.container-two {
    display: flex;
    height: 100vh;
    
}
.container-two .right-side-about {
    flex: 1;
    max-width: 50%;
    background-color: var(--collor3);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    z-index: 1;
}
.container-two .left-side-about {
    flex: 1;
    max-width: 50%;
    background-image: url('../images/emr-background.png');
    background-size: center;
    background-position: center;
    z-index: 1;
    border-top-right-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-two .about-me {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 100px;
}
.container-two .about-me .title {
    color: var(--collor2);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container-two .about-me .text p {
    color: var(--collor0);
    font-size: 22px;
    /* font-weight: bold; */
    text-align: justify;
}


    /* ================================================ */
    /* ==================== CONTACT =================== */
    /* ================================================ */

.container-four {
    display: flex;
    height: 100vh;
}
.container-four .left-side-contact {
    flex: 1;
    max-width: 50%;
    background-color: var(--collor3);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: end;
}
.container-four .right-side-contact {
    flex: 1;
    max-width: 50%;
    background-image: url('../images/contact-right-side.png');
    background-size: cover;
    background-position: center;
}

.container-four .text {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 60px;
}
.container-four .text .phrase {
    color: var(--collor2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}
.container-four .text .title {
    color: var(--collor0);
    text-align: right;
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    line-height: 0.9;
}

.container-four .text .buttons {
    width: 290px;
    display: inline-block;
    text-align: start;
    margin-top: -70px;
}

.container-four .text .buttons a img {
    box-shadow: 0px 0px 10px var(--collor3);
    margin-right: 10px;
}

.container-four .text .buttons a img:hover {
    opacity: 0.8;
}

    /* ================================================ */
    /* ==================== FOOTER ==================== */
    /* ================================================ */

footer {
    background-color: var(--collor3);
    margin: auto;
    padding: 20px;
    color: var(--collor2);
    font-size: 13px;
}

footer p {
    text-align: center;
}

footer a {
    color: var(--collor2);
}



    /* ================================================ */
    /* ================ RESPONSIVIDADE ================ */
    /* ================================================ */

@media (max-width: 1250px) {


    .container-two .about-me  {
        padding: 50px;
    }

}


@media (max-width: 920px) {

    /* ================================================ */
    /* ===================== HOME ===================== */
    /* ================================================ */

    .container-one {
        flex-direction: column;
    }
    .container-one .left-side-home {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }

    .container-one .left-side-home .logo-stack-container {
        margin: 0;
        position: absolute;
        width: 100vw;
    }

    .container-one .left-side-home .logo-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container-one .left-side-home .info {
        padding-right: 0px;
        align-items:center;
        margin-top: 50px;
    }
    .container-one .right-side-home {
        max-width: 100%;
    }

    .container-one .info .name {
        flex-direction: row;
        
    }
    .container-one .info .name h1 {
        font-size: 40px;
    }
    .container-one .info .name h1:last-child {
        margin: 0;
    }



    /* ================================================ */
    /* =================== EMR =================== */
    /* ================================================ */

    .container-two {
        flex-direction: column;
    }
    .container-two .right-side-about {
        flex: none;
        background-image: url(../images/about-left-side.png);
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
        height: 80vh;
        max-width: 100%;
    }
    .container-two .right-side-about .about-me{
        background-color: var(--collor3);
        opacity: 0.8;
        align-items:center;
        padding: 50px;
    }
    .container-two .left-side-about {
        order: 1;
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        border-radius: 0;
    }

    .container-two .left-side-about video {
        width: 95%;
       
    }


    
    /* ================================================ */
    /* ==================== CONTACT =================== */
    /* ================================================ */

    .container-four {
        flex-direction: column;
    }
    .container-four .left-side-contact {
        max-width: 100%;
        flex: none;
        background-image: url(../images/contact-right-side.png);
        background-position: center;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
        height: 100vh;
    }
    .container-four .text {
        padding: 0;
    }
    .container-four .right-side-contact {
        display: none;
    }
}

@media (max-width: 800px) {

    .container-one .left-side-home .logo-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {

    /* ================================================ */
    /* ==================== HEADER ==================== */
    /* ================================================ */
    header .menu-complete {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    header .menu-compact {
        display: flex;
        position: inherit;
    }
    header .menu-line {
        display: flex;
    }

    .container-one .left-side-home .logo-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }


}

@media (max-width: 480px) {

    header {
        max-width: 100%;
    }

    /* ================================================ */
    /* ===================== HOME ===================== */
    /* ================================================ */

    .container-one .left-side-home .logo-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container-one .left-side-home .info .name{
        font-size: 35px;
        flex-direction: column;
        align-items: center;
    }

    .container-one .left-side-home .info .buttons a {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .container-one .left-side-home .info .buttons a:first-child {
        margin-top: 10px;
    }

    /* ================================================ */
    /* =================== ABOUT ME =================== */
    /* ================================================ */

    .container-two .about-me .title {
        font-size: 22px;
    }
    .container-two .about-me .text p {
        font-size: 18px;
    }

}

@media (max-width: 380px) {


    .container-one .left-side-home .logo-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

video {
    width: 40vw;
}

/* ================== WHATSAPP BUTTON ================== */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--collor2);
	color: var(--collor3);
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px var(--collor3);
    z-index:100;
}

.my-float{
	margin-top:16px;
}